/* Primary Colors: Dark Blue #041C2C */

.cl-dark-blue {
    color: #041C2C;
}

.bk-dark-blue {
    background-color: #041C2C;
}

.fl-dark-blue {
    fill: #041C2C;
}

.sk-dark-blue {
    stroke: #041C2C;
}

.bd-a-dark-blue {
    border-color: #041C2C;
}

.bd-t-dark-blue {
    border-top-color: #041C2C;
}

.bd-b-dark-blue {
    border-bottom-color: #041C2C;
}

.bd-l-dark-blue {
    border-left-color: #041C2C;
}

.bd-r-dark-blue {
    border-right-color: #041C2C;
}


/* Primary Colors: Light Blue #7CAAD6 */

.cl-light-blue {
    color: #7CAAD6;
}

.bk-light-blue {
    background-color: #7CAAD6;
}

.fl-light-blue {
    fill: #7CAAD6;
}

.sk-light-blue {
    stroke: #7CAAD6;
}

.bd-a-light-blue {
    border-color: #7CAAD6;
}

.bd-t-light-blue {
    border-top-color: #7CAAD6;
}

.bd-b-light-blue {
    border-bottom-color: #7CAAD6;
}

.bd-l-light-blue {
    border-left-color: #7CAAD6;
}

.bd-r-light-blue {
    border-right-color: #7CAAD6;
}


/* Second Color: Second Blue #577896 */

.cl-second-blue {
    color: #577896;
}

.bk-second-blue {
    background-color: #577896;
}

.fl-second-blue {
    fill: #577896;
}

.sk-second-blue {
    stroke: #577896;
}

.bd-a-second-blue {
    border-color: #577896;
}

.bd-t-second-blue {
    border-top-color: #577896;
}

.bd-b-second-blue {
    border-bottom-color: #577896;
}

.bd-l-second-blue {
    border-left-color: #577896;
}

.bd-r-second-blue {
    border-right-color: #577896;
}