/* Margins */

.mrg-05 {
    margin: 0.5rem;
}

.mrg-10 {
    margin: 1rem;
}

.mrg-15 {
    margin: 1.5rem;
}

.mrg-20 {
    margin: 2rem;
}

.mrg-25 {
    margin: 2.5rem;
}

.mrg-30 {
    margin: 3rem;
}

.mrg-05-t {
    margin-top: 0.5rem;
}

.mrg-10-t {
    margin-top: 1rem;
}

.mrg-15-t {
    margin-top: 1.5rem;
}

.mrg-20-t {
    margin-top: 2rem;
}

.mrg-25-t {
    margin-top: 2.5rem;
}

.mrg-30-t {
    margin-top: 3rem;
}

.mrg-05-t {
    margin-top: 0.5rem;
}

.mrg-10-t {
    margin-top: 1rem;
}

.mrg-15-t {
    margin-top: 1.5rem;
}

.mrg-20-t {
    margin-top: 2rem;
}

.mrg-25-t {
    margin-top: 2.5rem;
}

.mrg-30-t {
    margin-top: 3rem;
}


/* Paddings */

.pad-05 {
    padding: 0.5rem;
}

.pad-10 {
    padding: 1rem;
}

.pad-15 {
    padding: 1.5rem;
}

.pad-20 {
    padding: 2rem;
}

.pad-25 {
    padding: 2.5rem;
}

.pad-30 {
    padding: 3rem;
}

.pad-05-t {
    padding-top: 0.5rem;
}

.pad-10-t {
    padding-top: 1rem;
}

.pad-15-t {
    padding-top: 1.5rem;
}

.pad-20-t {
    padding-top: 2rem;
}

.pad-25-t {
    padding-top: 2.5rem;
}

.pad-30-t {
    padding-top: 3rem;
}

.pad-05-t {
    padding-top: 0.5rem;
}

.pad-10-t {
    padding-top: 1rem;
}

.pad-15-t {
    padding-top: 1.5rem;
}

.pad-20-t {
    padding-top: 2rem;
}

.pad-25-t {
    padding-top: 2.5rem;
}

.pad-30-t {
    padding-top: 3rem;
}